[submodule "wherebnb-frontend"]
	path = wherebnb-frontend
	url = ../wherebnb-frontend
[submodule "wherebnb-accoms"]
	path = wherebnb-accoms
	url = ../wherebnb-accoms
[submodule "wherebnb-bookings"]
	path = wherebnb-bookings
	url = ../wherebnb-bookings
[submodule "wherebnb-recommendations"]
	path = wherebnb-recommendations
	url = ../wherebnb-recommendations
[submodule "wherebnb-notifications"]
	path = wherebnb-notifications
	url = ../wherebnb-notifications
[submodule "wherebnb-checkin"]
	path = wherebnb-checkin
	url = ../wherebnb-checkin
[submodule "wherebnb-process-booking"]
	path = wherebnb-process-booking
	url = ../wherebnb-process-booking
[submodule "wherebnb-payment"]
	path = wherebnb-payment
	url = https://github.com/justinlzx/wherebnb-payment
